<mat-toolbar class="main-header">
  <button mat-mini-fab>
    <mat-icon aria-hidden="false" aria-label="Home" fontIcon="store"></mat-icon>
  </button>

  <span class="branding">Modern Angular</span>

  <span class="spacer"></span>

  <button mat-button>Products</button>

  <button mat-button>
      <mat-icon [matBadge]="cartService.totalItems()"
      [matBadgeHidden]="cartService.totalItems() == 0"
      matBadge="Number of items in the cart"
      aria-hidden="false" aria-label="Cart" fontIcon="shopping_cart"></mat-icon>
  </button>

</mat-toolbar>
